{% extends "base.html" %}
{% block content %}
<div class="page-header">
  <h1 class="index-page-title">Notes on python, machine learning, linux and other programming related topics</h1>
</div>
<div class="homepage-blurb row">
    <div class="col-sm-12">  
        <p><a href="{{ SITEURL }}/pages/about.html">I am a data scientist</a> with a Ph.D. in quantitative political science and a decade of experience working in statistical learning, artificial intelligence, and software engineering.</p>
        <p>This site will host my notes on machine learning and programming. This project is open source and available on <a href="https://github.com/redoules/redoules.github.io">GitHub</a>. 
        <p>Thanks to Dr. <a href="https://chrisalbon.com/">Chris Albon</a> for inspiring this project and providing the code skeleton for this website</p>
    </div>
</div>

<div class="row" id="Blog">
  <div class="col-sm-12">
    <h2 class="homepage_category_title">Blog</h2>
  </div>
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <ul>
          {% for article in articles if article.category == 'Blog' %}
            <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.date.strftime("%m/%y") }} {{ article.title }}</a></li>
          {% else %}
            <li>Coming soon.</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

<hr/>

<div class="row" id="Machine Learning">
  <div class="col-sm-12">
    <h2 class="homepage_category_title">Machine Learning</h2>
  </div>


  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Basics</h3>
      </div>
      <div class="panel-body">
        <ul>
          {% for article in articles if article.category == 'Machine Learning' and 'Basics' in article.tags %}
            <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
          {% else %}
            <li>Coming soon.</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Preprocessing</h3>
      </div>
      <div class="panel-body">
        <ul>
          {% for article in articles if article.category == 'Machine Learning' and 'Preprocessing' in article.tags %}
            <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
          {% else %}
            <li>Coming soon.</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Feature Engineering</h3>
      </div>
      <div class="panel-body">
        <ul>
          {% for article in articles if article.category == 'Machine Learning' and 'Feature Engineering' in article.tags %}
            <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
          {% else %}
            <li>Coming soon.</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Feature Selection</h3>
      </div>
      <div class="panel-body">
        <ul>
          {% for article in articles if article.category == 'Machine Learning' and 'Feature Selection' in article.tags %}
            <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
          {% else %}
            <li>Coming soon.</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Supervised Learning - Classification</h3>
      </div>
      <div class="panel-body">
        <ul>
          {% for article in articles if article.category == 'Machine Learning' and 'Supervised Learning - Classification' in article.tags %}
            <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
          {% else %}
            <li>Coming soon.</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Supervised Learning - Regression</h3>
      </div>
      <div class="panel-body">
        <ul>
          {% for article in articles if article.category == 'Machine Learning' and 'Supervised Learning - Regression' in article.tags %}
            <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
          {% else %}
            <li>Coming soon.</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Unsupervised Learning</h3>
      </div>
      <div class="panel-body">
        <ul>
          {% for article in articles if article.category == 'Machine Learning' and 'Unsupervised Learning' in article.tags %}
            <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
          {% else %}
            <li>Coming soon.</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Model Selection</h3>
      </div>
      <div class="panel-body">
        <ul>
          {% for article in articles if article.category == 'Machine Learning' and 'Model Selection' in article.tags %}
            <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
          {% else %}
            <li>Coming soon.</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Model Evaluation</h3>
      </div>
      <div class="panel-body">
        <ul>
          {% for article in articles if article.category == 'Machine Learning' and 'Model Evaluation' in article.tags %}
            <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
          {% else %}
            <li>Coming soon.</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

</div>

<div class="row" id="Python">
  <div class="col-sm-12">
    <h2 class="homepage_category_title">Python</h2>
  </div>
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Basics</h3>
      </div>
      <div class="panel-body">
        <ul>
          {% for article in articles if article.category == 'Python' and 'Basics' in article.tags %}
            <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
          {% else %}
            <li>Coming soon.</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Data Wrangling</h3>
      </div>
      <div class="panel-body">
        <ul>
          {% for article in articles if article.category == 'Python' and 'Data Wrangling' in article.tags %}
            <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
          {% else %}
            <li>Coming soon.</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Data Visualization</h3>
      </div>
      <div class="panel-body">
        <ul>
          {% for article in articles if article.category == 'Python' and 'Data Visualization' in article.tags %}
            <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
          {% else %}
            <li>Coming soon.</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Web Scraping</h3>
      </div>
      <div class="panel-body">
        <ul>
          {% for article in articles if article.category == 'Python' and 'Web Scraping' in article.tags %}
            <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
          {% else %}
            <li>Coming soon.</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Algorithms</h3>
      </div>
      <div class="panel-body">
        <ul>
          {% for article in articles if article.category == 'Python' and 'Algorithms' in article.tags %}
            <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
          {% else %}
            <li>Coming soon.</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Testing</h3>
      </div>
      <div class="panel-body">
        <ul>
          {% for article in articles if article.category == 'Python' and 'Testing' in article.tags %}
            <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
          {% else %}
            <li>Coming soon.</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Other</h3>
      </div>
      <div class="panel-body">
        <ul>
          {% for article in articles if article.category == 'Python' and 'Other' in article.tags %}
            <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
          {% else %}
            <li>Coming soon.</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row" id="Bash">
  <div class="col-sm-12">
    <h2 class="homepage_category_title">Bash</h2>
  </div>
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <ul>
          {% for article in articles if article.category == 'Bash' %}
            <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
          {% else %}
            <li>Coming soon.</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="row" id="SQL">
  <div class="col-sm-12">
    <h2 class="homepage_category_title">SQL</h2>
  </div>
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <ul>
          {% for article in articles if article.category == 'SQL' %}
            <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
          {% else %}
            <li>Coming soon.</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row" id="Mathematics">
  <div class="col-sm-12">
    <h2 class="homepage_category_title">Mathematics</h2>
  </div>
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <ul>
          {% for article in articles if article.category == 'Mathematics' %}
            <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
          {% else %}
            <li>Coming soon.</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>



{% endblock content %}
